footer {
  background-color: black;
  color: white;
  text-align: center;
}
.footer-details {
  padding-bottom: 1rem;
  font-size: 15px;
}
.footer-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1050px;
  text-align: center;
  padding-top: 10px;
}
