.post-body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.share-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.share {
  padding: 0px 30px !important;
}

@media (max-width: 35em) {
  .share-container {
    justify-content: space-evenly;
  }
  .share {
    padding: 0px !important;
  }
}
.share:hover {
  filter: brightness(0.8);
}

/* .share circle {
  fill: rgb(59, 59, 59) !important;
}

.share circle {
  fill: #f3f3f3 !important;
}

.share path {
  fill: #121212 !important;
}

.share circle {
  fill: rgb(59, 59, 59) !important;
}

.share circle {
  fill: #f3f3f3 !important;
}

.share path {
  fill: #121212 !important;
} */

.reddit-icon circle {
  fill: #ff5700 !important;
}

.email-icon circle {
  fill: #d44638 !important;
}

.share-title {
  text-align: center;
}

.share-title h1 {
  margin-bottom: 1.5rem !important;
}
