.search-icon {
  position: absolute;
  top: 80px;
  left: 265px;
  color: #1b6bbd;
  padding: 0.3rem;
  font-size: 1.8rem;
}
.search-icon:hover {
  cursor: pointer;
}

.searchbar {
  margin-top: 75px;
  display: inline-block;
  width: 125%;
  padding-left: 1.5rem;
}
